<div id="cam-list-page-container">
    <div id="cam-list-container" *ngIf="camIdList.length>0">
        <app-camera-card *ngFor="let camId of camIdList" [camId]="camId"></app-camera-card>
        <button mat-flat-button color="primary" id="floating-refresh-button" (click)="onRefresh()">Discover Cameras</button>
        <div id="button-footer-spacer"></div>
    </div>
    
    <div id="no-camera-alert" *ngIf="camIdList.length==0">
        <div id="no-camera-text">No camera available.</div>
        <button mat-flat-button color="primary" (click)="onRefresh()">Discover Cameras</button>
    </div>
</div>
<div id="cover" *ngIf="showRefreshSpinner">
    <div id="spinner-container">
        <mat-spinner diameter="200" color="accent"></mat-spinner>
    </div>
</div>
<!-- <app-video-screen camId="94:b9:7e:fa:e1:28"></app-video-screen> -->