<div id="cam-list-page-container">
    <div id="cam-list-container" *ngIf="completeCamIdList.length>0">
        <app-camera-card *ngFor="let camId of camIdList" [camId]="camId" (click)="onClickCamCard(camId)" [routerLink]="'/cam-detail/'+camId"></app-camera-card>
        <div class="floating-elements">
            <button mat-flat-button color="primary" id="floating-refresh-button" (click)="onRefresh()">Discover Cameras</button>
            <mat-slide-toggle [checked]="showInactiveCam" (change)="onShowInactiveCamSliderChange($event)">Show All Cameras</mat-slide-toggle>
        </div>
        
    </div>
    
    <div id="no-camera-alert" *ngIf="completeCamIdList.length==0">
        <div id="no-camera-text">No camera available.</div>
        <button mat-flat-button color="primary" (click)="onRefresh()">Discover Cameras</button>
    </div>

    <div id="button-footer-spacer"></div>
</div>
<div id="cover" *ngIf="showRefreshSpinner">
    <div id="spinner-container">
        <mat-spinner diameter="200" color="accent"></mat-spinner>
    </div>
</div>