<div id="video-screen-list" [style.--video_screen_width]="(100/videoScreensPerRow)+'%'">
    <div id="video-screen-container" *ngFor="let camId of camIdList">
        <app-video-screen [camId]="camId"></app-video-screen>
        {{camId}}
    </div>
</div>
<div class="floating-elements">
    <div id="item-per-row-selection">
        <button mat-flat-button *ngFor="let num of [1,2,3,4]" [ngStyle]="{'background-color': videoScreensPerRow==num?'blueviolet':'skyblue'}" (click)="onSelectItemsPerRow(num)">{{num}}</button>
    </div>
    <mat-slide-toggle [checked]="showInactiveCam" (change)="onShowInactiveCamSliderChange($event)">Show All Cameras</mat-slide-toggle>
</div>

<div id="floating-botton-spacer"></div>