.live-playback-tab {
    width: 100%;
}

.live-playback-tab-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.cam-detail-page-content {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.video-screen-container {
    width: var(--video-screen-size);
    align-self: center;
}

.video-size-slider-container {
    height: 40vh;
    width: 5vw;
    position: fixed;
    left: 100%;
    top: 50%;
    transform: translate(-100%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-size-slider-container>p {
    font-size: large;
    text-align: center;
}

mat-slider {
    height: 100%;
}

.setting-line:first-of-type {
    margin-top: 4vh;
}

.setting-line {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3vh;
    align-items: center;
    margin: 2vh;

    font-size: larger;
}

.setting-label {
    justify-self: end;
}

.setting-control {
    justify-self: start;
}

.setting-line:last-of-type {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2vh;

    font-size: larger;
}

.setting-line>button {
    width: fit-content;
}