 <div id="cam-box-container" 
    [style.--cam-box-width]="cardWidth+'px'"
    [style.--cam-box-height]="cardHeight+'px'"
    [style.--cam-box-cam-info-container-height]="(cardHeight-cardWidth)+'px'"
>
    <div id="cam-box-image-container">
        <img id="cam-box-image" src={{imageUrl}} alt="Camera Preview Image" onerror="this.src='../../assets/missing_image.jpg'">
    </div>
    <div id="cam-box-cam-info-container">
        <div id="cam-box-cam-info-id">
            {{camId}}
        </div>
        <div id="cam-box-cam-info-loc">
            {{camLocation}}
        </div>
        <div id="cam-box-cam-info-refresh">
            <button mat-flat-button color="primary" (click)="onRefresh($event)">Refresh</button>
        </div>
    </div>
    
</div>
